# Environment variables
.env
.env.backup

# Log files and downloaded logs
logs/*
*.log
logs/*.tar.gz

# Log files and downloaded logs
archive/*
archive/*.tar.gz

# Python virtual environment and cache
venv/
__pycache__/
*.py[cod]

# Logstash tracking files
.sincedb*

# Temporary files
.DS_Store
tmp/

# Test reports
test_report.md